/extract-relogic/bin
/extract-relogic/obj
/patch/bin
/patch/obj
/statics
/Content/
/nuget
/emsdk


/node_modules
/public/_framework
/public/resources
/public/content
/dist
.env.local


terraria/bin
terraria/obj
terraria/Decompiled
terraria/libs
terraria/Terraria
terraria/ReLogic
public/app.ico

FNA


SDL3.Legacy.cs
